<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rupes/IdeaProjects/TestNGProject">
        <classes>
<!--            <class name="TestNG.TestNG.AnnotationAttributes">-->
<!--                <methods>-->
<!--                    <include name="testCase1"/>-->
<!--                    <include name="testCase2"/>-->
<!--                    <include name="testCase3"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.CurrentACTestClass1">-->
<!--                <methods>-->
<!--                    <include name="test1"/>-->
<!--                    <include name="test2"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.CurrentACTestClass2">-->
<!--                <methods>-->
<!--                    <include name="test1"/>-->
<!--                    <include name="test2"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="TestNG.TestNG.DataProviderDemo">
                <methods>
                    <include name="TestCaseGoogleSearch"/>
                </methods>
            </class>
<!--            <class name="TestNG.TestNG.GroupAttributes">-->
<!--                <methods>-->
<!--                    <include name="infosys"/>-->
<!--                    <include name="wipro"/>-->
<!--                    <include name="maruti"/>-->
<!--                    <include name="tata"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.LoneDepartment">-->
<!--                <methods>-->
<!--                    <include name="MobileLoginPersonalLoan"/>-->
<!--                    <include name="WebLoginPersonalLoan"/>-->
<!--                    <include name="APILoginPersonalLoan"/>-->
<!--                    <include name="MobileLoginAutomobileLoan"/>-->
<!--                    <include name="WebLoginAutomobileLoan"/>-->
<!--                    <include name="APILoginAutomobileLoan"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.TestCaseAnnot1">-->
<!--                <methods>-->
<!--                    <include name="test1"/>-->
<!--                    <include name="test2"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.TestCaseAnnot2">-->
<!--                <methods>-->
<!--                    <include name="test3"/>-->
<!--                    <include name="test4"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="TestNG.TestNG.TestNGExample">-->
<!--                <methods>-->
<!--                    <include name="test1"/>-->
<!--                    <include name="test2"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>